.image {
  width: 85%;
  height: 60%;
}

.table {
  align-items: left;
  margin-left: 18%;
  margin-right: 45%;
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.sidenav {
  height: 91%;
  width: 8%;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0%;
  padding-bottom: 5%;
}

.sidenav::-webkit-scrollbar {
  width: 10px;
}

.sidenav::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
.sidenav::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sidenav a {
  padding: 10% 25% 10% 10%;
  text-decoration: none;
  padding-left: 10%;
  font-size: 75%;
  color: #818181;
  display: block;
}

.sidenav .link {
  background-color: #605f60;
  color: white;
}

.sidenav .link:hover {
  color: black;
}

.sidenav .add-category-link {
  background-color: #116eac;
  color: white;
}

.sidenav .add-category-link:hover {
  color: black;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.post .link {
  text-decoration: none;
  color: white;
}

.post .link:hover {
  color: blue;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pages {
  display: flex;
  flex-flow: row;
  margin-left: 48%;
}

.page-button {
  display: flex;
  padding: 2% 1% 1% 0%;
}

.post {
  text-align: center;
  background-color: #18181a;
  padding-bottom: 1%;
  border-radius: 10%;
  margin: 0 35%;
}

.post h2 {
  padding-top: 5%;
  margin-block-end: 0%;
  font-size: calc(80% + 1vmin);
}

.points {
  padding: 2% 60% 2% 0%;
  font-size: 65%;
  display: contents;
  color: #f3f3f3a8;
}

.info {
  display: flex;
  padding: 1% 0% 5% 8%;
}

.post-buttons {
  display: flex;
  padding: 0% 10%;
}

.vote-button {
  width: 12%;
  margin-right: 3%;
  padding: 1%;
}

.vote-button:hover {
  background-color: rgba(141, 140, 140, 0.616);
  border-radius: 50%;
}

.comment-button-icon {
  width: 12%;
  margin-right: 3%;
  padding: 1%;
}

.comment-button-icon:hover {
  background-color: rgba(141, 140, 140, 0.616);
  border-radius: 20%;
}