.form {
  background-color: #35323c;
  border-radius: 2%;
  width: 30%;
  height: auto;
  align-items: left;
  font-size: 85%;
  text-align: center;

  padding: 5% 15% 5% 15%;
  margin: 10% 20% 0% 22%;
}

.form h2 {
  margin-top: 0%;
}

.input {
  display: block;
  width: 100%;
  background: #35323c;
  font-family: OCR A Std, monospace;
  font-size: 100%;
  line-height: 1.5;
  color: white;
  border: none;
  border-bottom: 2px solid red;
  margin-bottom: 5%;
}

.input-file {
  border: 2px solid red;
  color: gray;
  background-color: #35323c;
  padding: 2% 4%;
  border-radius: 8px;
  font-size: 77%;
  font-weight: bold;
}