.App-header {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-home{
  margin-top: 0;
}

.home-link {
  float: left;
}

.regular-navbar-link {
  float: right;
}

.product {
  text-align: center;
  background-color: #18181a;
  padding-bottom: 10%;
  border-radius: 3%;
  margin-right: 30%;
  margin-left: 30%;
}

.navbar {
  overflow: hidden;
  background-color: #18181a;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2% 3%;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}