.App-header {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  font-size: calc(10% + 2vmin);
  color: white;
  font-family: OCR A Std, monospace;
}

.title-home{
  margin-top: 0;
}

.home-link {
  float: left;
}

.navbar {
  overflow: visible;
  background-color: #18181a;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.dropbtn {
  padding: 5%;
  width: 40%;
  border-radius: 50%;
  cursor: pointer;
}

.dropbtn:hover {
  padding: 5%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.274);
}

.dropdown {
  left: 40%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80%;
}

.dropdown-content a {
  color: black;
  padding: 5%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #777777;
  color: #c7c6c6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sidenav {
  height: 91%;
  width: 8%;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0%;
  padding-bottom: 5%;
}

.sidenav::-webkit-scrollbar {
  width: 10px;
}

.sidenav::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
.sidenav::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sidenav a {
  padding: 10% 25% 10% 10%;
  text-decoration: none;
  padding-left: 10%;
  font-size: 75%;
  color: #818181;
  display: block;
}

.sidenav .link {
  background-color: #605f60;
  color: white;
}

.sidenav .link:hover {
  color: black;
}

.sidenav .add-category-link {
  background-color: #116eac;
  color: white;
}

.sidenav .add-category-link:hover {
  color: black;
}

.sidenav a:hover {
  color: #f1f1f1;
}